{% extends "admin/change_list.html" %}
{% load i18n %}

{% block nav-global %}
    {% if equipment_report_url %}
        {% translate "Print Equipment Report (All)" as title %}
        {% include "unfold/helpers/tab_action.html" with title=title link=equipment_report_url icon="print" blank=1 %}
    {% endif %}
    {% if manage_coverage_items_url %}
        {% translate "Manage Coverage Items" as title %}
        {% include "unfold/helpers/tab_action.html" with title=title link=manage_coverage_items_url icon="checklist" %}
    {% endif %}
{% endblock %}
