{% extends "admin/base.html" %}
{% load static cache_bust %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('NOA ERP') }}{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'company_logos/noa_erp_logo_v3.png' %}" alt="NOA ERP" class="brand-logo">
        <span>{{ site_header|default:_('NOA ERP') }}</span>
    </a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'custom_admin.css' %}?v={% static_version 'custom_admin.css' %}">
{% endblock %}

{% block nav-global %}{% endblock %}
