{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Email Purchase Requisition | {{ site_title|default:_('NOA ERP') }}{% endblock %}

{% block content %}
    {% url 'admin:project_purchaserequisition_change' pr.id as cancel_url %}
    {% blocktranslate with number=pr.pr_number asvar heading %}Email Purchase Requisition {{ number }}{% endblocktranslate %}
    {% translate "Sends the requisition as a PDF attachment to the address below." as lead %}
    {% include "admin/_document_email_form.html" with heading=heading lead=lead cancel_url=cancel_url %}
{% endblock %}
