{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Email Purchase Order | {{ site_title|default:_('NOA ERP') }}{% endblock %}

{% block content %}
    {% url 'admin:purchase_supplierpurchaseorder_change' po.id as cancel_url %}
    {% blocktranslate with number=po.po_number asvar heading %}Email Purchase Order {{ number }}{% endblocktranslate %}
    {% translate "Sends the PO as a PDF attachment to the supplier." as lead %}
    {% include "admin/_document_email_form.html" with heading=heading lead=lead cancel_url=cancel_url default_email=po.supplier.email %}
{% endblock %}
