{% extends "admin/change_list.html" %}
{% load i18n %}

{% block nav-global %}
    {% if manage_divisions_url %}
        {% translate "Divisions" as title %}
        {% include "unfold/helpers/tab_action.html" with title=title link=manage_divisions_url icon="account_tree" %}
    {% endif %}
    {% if manage_product_categories_url %}
        {% translate "Product Categories" as title %}
        {% include "unfold/helpers/tab_action.html" with title=title link=manage_product_categories_url icon="category" %}
    {% endif %}
    {% if manage_product_subcategories_url %}
        {% translate "Sub-Categories" as title %}
        {% include "unfold/helpers/tab_action.html" with title=title link=manage_product_subcategories_url icon="subdirectory_arrow_right" %}
    {% endif %}
    {% if manage_product_documents_url %}
        {% translate "Documents" as title %}
        {% include "unfold/helpers/tab_action.html" with title=title link=manage_product_documents_url icon="description" %}
    {% endif %}
{% endblock %}
